blockquote{
    border-color: black;
    }

p{
    font-family: 'Indie Flower', cursive;
    font-size: 27px;
}
    #rowOne{
        margin-top: 175px;
    }

 .container{
    min-height:100vh;
}


/*.container{min-height: 100vh;
}
*/
@media (max-width:500px){
    p{
        font-size: 16px;
    }

}
a, a:hover{
    color: black;
    text-decoration: none;
}


footer#chini{
    position:relative;
    font-size:19px;
    
    bottom: 0;
    width: 100vw;
    font-family: 'Helvetica Neue', sans-serif;
    }

    #bugger{
        margin-bottom: 0;
    }
