html{

/* background-image: url(images/redTree.jpg); */
background-size : 100%;
}
div.container{
    margin: 200px auto;
    
}
div.quotebox#style-box{
    
    width :72%;
    height: 85px;
    border: 2px solid black;
    border-radius: 2%;
    margin: 0 auto;
}
    p{
       padding-top: 30px;
    }